/* CSS reset*/
body {
  padding: 0px;
  margin: 0px;
  background-color: #1F1F1F;
  color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul, ol {
  list-style: none;
}

p {
  font-size: 18px;
  color: #f5f5f5;
}

h1 {
  font-size: 45px;
  color: #f5853f;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  color: #f5853f;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  color: #f5853f;
  font-weight: bold;
}

/*Bootstrap CSS Fixes*/
.navbar-toggler:focus {
  outline: none;
  box-shadow: none; /* In case Bootstrap uses box-shadow to create focus styles */
  border: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/hamburguerIcon.webp);
}

.container {
  padding: 0px;
}

.swiper {
  padding-bottom: 20px;
}

.swiper-button-next, .swiper-button-prev {
  color: #f5853f;
}

span.swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background: #f5853f;
}

/* layout mobile styles for horizontal navigation bar fixed to the top*/
.layoutContainer {
  display: flex;
  flex-direction: column;
}
.layoutContainer .navContainer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(245, 245, 245, 0.1647058824);
  background-color: black;
  z-index: 2;
}
@media (min-width: 992px) {
  .layoutContainer .navContainer {
    width: 90px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
  }
}
.layoutContainer .mainContainer {
  flex-grow: 1;
}
.layoutContainer .navbar {
  padding: 10px 7%;
  flex: 1;
}

.socialLinks {
  display: none;
}
@media (min-width: 992px) {
  .socialLinks {
    display: flex;
    margin-bottom: 30px;
  }
}

.socialLinks ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px;
}

.socialLinks img {
  width: 30px;
}

.navElementsContainer {
  display: flex;
  padding: 0px;
}
@media (min-width: 992px) {
  .navElementsContainer {
    flex-direction: column;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .verticalNavContainer {
    flex-direction: column;
  }
}

.headshotLogo {
  width: 70px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* lg screen layout with vertical navigation bar fixed to left side */
/* Header Styles non layout styles*/
.verticalNavContainer {
  justify-content: center;
}

.headshotLogo {
  width: 70px;
  border-radius: 100%;
  border: 2px solid #f5853f;
}
@media (min-width: 992px) {
  .headshotLogo {
    margin-top: 30px;
  }
}

.menu {
  display: flex;
  padding-top: 30px;
}

@media (min-width: 992px) {
  .navigationMenu .menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 16px;
    line-height: 16px;
  }
}
.navigationMenu .menu li a {
  color: #f5f5f5;
  padding: 8px 5px;
  transition: all 0.7s ease-in-out;
}
@media (min-width: 992px) {
  .navigationMenu .menu li a {
    padding: 13px 20px;
  }
}
.navigationMenu .menu li a:hover {
  background-color: #f5853f;
  transition: all 0.7s ease-in-out;
}
.navigationMenu .menu li.active {
  background-color: #1f1f1f;
}
@media (min-width: 992px) {
  .navigationMenu .menu li.active {
    background-color: #f5853f;
  }
}
.navigationMenu .menu li.active a {
  color: #f5853f;
}
@media (min-width: 992px) {
  .navigationMenu .menu li.active a {
    color: #f5f5f5;
  }
}

/*Page Body Styles*/
section, section.clearBackground {
  padding: 60px 7%;
}
@media (min-width: 992px) {
  section, section.clearBackground {
    padding: 90px 20px 90px 110px;
  }
}
section.clearBackground {
  background-color: #f5f5f5;
}

/* hero sections */
.heroContent {
  padding: 0px 7%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .heroContent {
    padding: 0px 0;
    max-width: 750px;
    margin: 0 auto;
  }
}

.heroFullScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(/images/hero-background.png);
  background-position: top;
  background-attachment: fixed;
}

.heroHalfScreen {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  background-image: url(/images/hero-background.png);
  background-position: top;
  background-attachment: fixed;
}
.heroHalfScreen .heroContent {
  max-width: 1140px;
  text-align: left;
}

.topSection {
  padding-top: 130px;
}
@media (min-width: 1200px) {
  .topSection {
    padding-top: 60px;
  }
}

.scrollIcon {
  width: 100px;
}

.heroTitle {
  font-size: 45px;
}
@media (min-width: 768px) {
  .heroTitle {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .heroTitle {
    font-size: 70px;
  }
}
@media (min-width: 1200px) {
  .heroTitle {
    font-size: 70px;
  }
}

.heroLinksContainer {
  margin-top: 20px;
}

/* inner sections */
.title {
  font-size: 36px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .title {
    font-size: 45px;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 55px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 55px;
    margin-bottom: 60px;
  }
}

.clearBackground p {
  color: black;
}

.projectContainer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .projectContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.projectContainer .projectImageContainer {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .projectContainer .projectImageContainer {
    flex-basis: 50%;
  }
}
.projectContainer .projectContentContainer {
  flex-grow: 1;
}
@media (min-width: 992px) {
  .projectContainer .projectContentContainer {
    padding-right: 40px;
  }
}

/* testimonials section */
.testimonialsSection {
  background-image: url(../../images/bgimageoverlay.webp);
}

span.smallHeadingText {
  font-size: 24px;
}

/*side by side sections*/
.colContainer {
  display: block;
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .colContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
.colContainer .column {
  flex-basis: 100%;
}
@media (min-width: 992px) {
  .colContainer .column {
    flex-basis: calc(50% - 10px);
  }
}

.technologyIconList {
  display: flex;
  padding: 0px;
  gap: 10px;
  align-items: center;
}

/* Services Section*/
.servicesSection .colContainer.reverse {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 992px) {
  .servicesSection .colContainer.reverse {
    display: flex;
    flex-direction: row;
  }
}

/*Footer Styles*/
footer {
  background-color: black;
  text-align: center;
  padding: 30px 7%;
}

footer .socialLinks {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  footer .socialLinks {
    display: none;
  }
}

footer .socialLinks li a img {
  width: 30px;
}

.experienceRow {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2392156863);
  padding-top: 20px;
}
@media (min-width: 992px) {
  .experienceRow {
    flex-direction: row;
    gap: 20px;
  }
}

.experienceCardsContainer {
  max-width: 1140px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .experienceCardsContainer {
    max-width: 90%;
  }
}
@media (min-width: 1200px) {
  .experienceCardsContainer {
    max-width: 765px;
    margin-left: 0px;
  }
}

.companyDates {
  opacity: 0.6;
  font-size: 16px;
  margin-bottom: 0px;
}

.companyLogo {
  max-width: 80px;
}
@media (min-width: 1200px) {
  .companyLogo {
    flex: 0 0 60px;
  }
}

.companyLogo img {
  max-width: 100%;
}

.testimonialsCardsContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
@media (min-width: 480px) {
  .testimonialsCardsContainer {
    gap: 1%;
  }
}

.card {
  padding: 25px 20px;
  background-color: #f5f5f5;
  border-radius: 6px;
  margin-bottom: 20px;
  flex-basis: 100%;
}
@media (min-width: 480px) {
  .card {
    flex-basis: 49.5%;
  }
}
@media (min-width: 992px) {
  .card {
    flex-basis: 32%;
  }
}
.card .cardTitle {
  color: #f5853f;
  font-size: 24px;
  font-weight: 800;
}
.card .testimonialContent {
  color: #1f1f1f;
}

.linkButton {
  border: 2px solid #f5853f;
  color: #f5853f;
  padding: 13px 20px;
  font-size: 20px;
  transition: all 0.7s ease-in-out;
}
.linkButton:hover {
  background-color: #f5f5f5;
  transition: all 0.7s ease-in-out;
}

.skillTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.skillTag {
  padding: 8px 12px;
  background-color: #1f1f1f;
}

.portfolioGrid {
  display: block;
}
@media (min-width: 992px) {
  .portfolioGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
