* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a { text-decoration:none;}
img {max-width:100%;}
li {list-style-type: none;}


/********************* Mobile first Approach ****************************/

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1f1f1f;
    color:#f5f5f5;
}

h1,h2,h3,h4,h5,h6 {
    color : #f5853f;
}

p {
    font-size:16px;
}

.navbar {
    position:fixed;
    width:100%;
}
.navigationMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    border-bottom:1px solid #f5f5f52a;
    background-color:black;
  
}

.navigationMenu .menu li a {
    text-decoration:none;
    color:#f5f5f5;
}

.navigationMenu .menu li {
    padding: 8px 5px;
}



.active {
    background-color: #1f1f1f;
}

.navigationMenu .menu li.active a {
    color: #f5853f;
    
}


.headshotLogo {
    border-radius: 50%;
    border: 2px solid #f5853f;
    width: 70px;
}
.menu {
    display: flex;
    list-style-type: none;
    padding-top:30px;
}

.navSocialLinks {
    display:none;
} 




.navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/hamburguerIcon.webp);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none; /* In case Bootstrap uses box-shadow to create focus styles */
    border:none;
  }

  .navbar-toggler {
    border:none;
  }




/*Main Styles*/

main { padding-top:90px;}

section {
    padding: 30px 7%;

}
/*Hero Section*/
.heroFullScreen {
    display:flex;
    flex-direction: column;
    height:calc(100vh - 90px);
    justify-content: space-between;
    align-items: center;

}
.heroBackground {
    background-image: url(../images/vertical-decor-small.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

}

.heroContent{ /*Makes the hero content container a flex box and makes it grow to fill the space not taken by the scroll icon*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1;
    gap:15px;
}
.heroTitle {
    font-size:45px;
    line-height:53px;
    font-weight:800;
    text-align: center;
}

.heroParagraph {
    font-size:18px;
    line-height:26px;
    text-align:center;

}

.scrollIcon {
    width:80px;
    justify-self: end;
    text-align:center;

}

.heroLinksContainer {
    display:flex;
    justify-content: center;
    gap:15px;

}

.linkButton {
    border:2px solid #f5853f;
    color:#f5853f;
    padding:13px 20px;
    font-size:20px;

}

/*Section */

.title {
    font-weight:800;
    font-size:35px;
    text-align:center;
    margin-bottom:60px;
}

.projectTitle {
    font-size:30px;
    font-weight:800;
}

.projectTags {
    margin-bottom:30px;
}

.projectTag {
    opacity:0.7;
    
}



.smallHeadingText {
    font-size:24px;
}

.testimonialCard {
    padding: 25px 20px;
    background-color: #f5f5f5;
    border-radius:6px;
    margin-bottom: 20px;
}

.testimonialStars {
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.testimonialName {
    color: #f5853f;
    font-size:24px;
    font-weight:800;
}

.testimonialContent {
    color:#1f1f1f;
}






/*Footer*/

footer {
    text-align:center;
    padding: 20px 5%;
    background-color:black;
}
.credits {
    margin-bottom:30px;
}


.footerSocialLinks ul {
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.footerSocialLinks ul li a img {
max-width:30px;
}

/**************************** END MOBILE FIRST ***********************************/


@media all and (min-width:767px) {
    /************************************ Vertical Navigation Layout for Tabs and Larger Screens) ***/

    .layoutContainer {
        display:flex;

    }

    .navContainer {

        width:90px;
        flex-grow:0;
        height:100vh; /* Make the element full height of the screen */
        /* overflow:hidden; prevent elements*/
        background-color:black;
        position:fixed

    }

    .navbar {
        position:relative;
  
    }

    .navBarElementsContainer {
        height:100%;
        padding:0px;
    }
    .mainContainer {
        flex: 1; /* Take all available space*/
        padding-left:90px; /* Adjust spacing for content on the side of the nav*/
    }

    .navigationMenu {
        flex-direction:column; /*make nav  a column*/
        height:100%; /* take full available height*/
        padding:10px 10px;
        justify-content: center;
      
    }

    .navigationMenu .menu li {
        padding: 0px;
    }

    .headshotLogo {
        margin-top:30px;
    }
 
    .navSocialLinks {display:block;}

    .navSocialLinks ul {
        display:flex;
        flex-direction: column;
        gap:15px;
        padding:0px;
    }

    .navSocialLinks ul li a img {
        max-width:25px;
    }
    .menu {
        padding-top:0px;
        flex-direction:column;
        justify-content: space-around;
       
    }

    .verticalNavContainer {
        justify-content: center;
    }

    .menu li  {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        -webkit-writing-mode: vertical-lr; /*Make text vertical reads top to bottom*/
        -ms-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        transform: rotate(-180deg); /*rotate menu items text so it reads from the bottom up*/
        font-size:16px;
        line-height:16px;

    }

    .menu li a {
        padding:13px 20px;
   
    }

    .active {
        background-color: #f5853f;
    }
    
    .navigationMenu .menu li.active a {
        color: #f5f5f5!important;
        
    }
    .footerSocialLinks {display:none;}

    /************************************ Vertical Navigation Layout for Tabs and Larger Screens) ***/

    .section { 
        padding-top:60px;
        padding-bottom:60px;
    }
    

    .projectContainer {
        display:flex;
        align-items: center;
    }

    .projectImageContainer {
        flex-basis:50%;
        flex-grow:1;
        flex-shrink:0;
    }
    .projectContentContainer {
        flex-grow:1;
    }


    .testimonialsCardsContainer {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    

    .clearBackground {
        background-color:#f5f5f5;

    }
    .clearBackground p {
        color:#1f1f1f;
    }
}



/*Override Bootstraps Default Styles*/

.container {
    max-width:1140px;
    padding:0px;
}