* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a { text-decoration:none;}
img {max-width:100%;}
li {list-style-type: none;}


/*Mobile first Approach*/

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1f1f1f;
    color:#f5f5f5;
}

h1,h2,h3,h4,h5,h6 {
    color : #f5853f;
}

.navigationMenu {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    border-bottom:1px solid #f5f5f52a;
    background-color:black;
  
}

.navigationMenu .menu li a {
    text-decoration:none;
    color:#f5f5f5;
}


.headshotLogo {
    border-radius: 50%;
    border: 2px solid #f5853f;
    width: 70px;
}
.menu {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.navSocialLinks {
    display:none;
}


/*Main Styles*/


section {
    padding: 30px 5%;

}
/*Hero Section*/
.heroFullScreen {
    display:flex;
    flex-direction: column;
    height:80vh;
    justify-content: space-between;
    align-items: center;

}
.heroBackground {
    background-image: url(images/vertical-decor-small.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;

}

.heroContent{ /*Makes the hero content container a flex box and makes it grow to fill the space not taken by the scroll icon*/
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1;
    gap:15px;
}
.heroTitle {
    font-size:45px;
    line-height:53px;
    font-weight:800;
    text-align: center;
}

.heroParagraph {
    font-size:18px;
    line-height:26px;
    text-align:center;

}

.scrollIcon {
    width:80px;
    justify-self: end;
    text-align:center;

}

.heroLinksContainer {
    display:flex;
    justify-content: center;
    gap:15px;

}

.heroLink {
    border:2px solid #f5853f;
    color:#f5853f;
    padding:13px 20px;
    font-size:20px;

}

/*Footer*/

footer {
    text-align:center;
    padding: 20px 5%;
    background-color:black;
}
.credits {
    margin-bottom:30px;
}


.footerSocialLinks ul {
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.footerSocialLinks ul li a img {
max-width:30px;
}

/*** Vertical Navigation Layout for Tabs and Larger Screens) ***/

@media all and (min-width:767px) {

    .layoutContainer {
        display:flex;

    }

    .navContainer {

        width:90px;
        flex-grow:0;
        height:100vh; /* Make the element full height of the screen */
        /* overflow:hidden; prevent elements*/
        background-color:black;
        position:fixed

    }
    .mainContainer {
        flex: 1; /* Take all available space*/
        padding-left:90px; /* Adjust spacing for content on the side of the nav*/
    }

    .navigationMenu {
        flex-direction:column; /*make nav  a column*/
        height:100%; /* take full available height*/
        padding:10px 10px;
      
    }
 
    .navSocialLinks {display:block;}

    .navSocialLinks ul {
        display:flex;
        flex-direction: column;
        gap:15px;
    }

    .navSocialLinks ul li a img {
        max-width:25px;
    }
    .menu {
       /* flex-grow:0.5; */ /* poor implementation with using flex*/
        flex-direction:column;
        justify-content: space-around;
        /* flex-basis:300px;*/ /* poor implementation with using flex*/
    }

    .menu li  {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        -webkit-writing-mode: vertical-lr; /*Make text vertical reads top to bottom*/
        -ms-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        transform: rotate(-180deg); /*rotate menu items text so it reads from the bottom up*/
        font-size:16px;
        line-height:16px;

    }

    .menu li a {
        padding:13px 20px;
   
    }
}