@use '../abstracts' as *;

/*Page Body Styles*/

section {
    padding: 60px 7%;
    @include vertical (lg) {
    padding:90px 20px 90px 110px;
    }

    &.clearBackground {
        @extend section;
        background-color: $notWhite;
    }
}


/* hero sections */
.heroContent {
    padding: 0px 7%;
    text-align: center;
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    @include vertical (lg) {
        padding: 0px 0;
        max-width:750px;
        margin:0 auto;
    }
}

.heroFullScreen {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(/images/hero-background.png);
    background-position: top;
    background-attachment: fixed;
}

.heroHalfScreen {
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    background-image: url(/images/hero-background.png);
    background-position: top;
    background-attachment: fixed;
    .heroContent {
        max-width:1140px;
        text-align: left;
    }

}

.scrollIcon {
    width:100px;
}

.heroTitle {

    font-size: $bigHeading-sm;


    @include respond-to (md) {
        font-size: $bigHeading-md;
    }
    @include respond-to (lg) {
        font-size: $bigHeading-lg;
    }
    @include respond-to (xl) {
        font-size: $bigHeading-lg;

    }
}
 .heroLinksContainer {
    margin-top:20px;
 }



/* inner sections */

.title {
    font-size: $mediumHeading-sm;
    margin-bottom:20px;

    @include respond-to (md) {
        font-size: $mediumHeading-md;
        margin-bottom:30px;
    }
    @include respond-to (lg) {
        font-size: $mediumHeading-lg;
        margin-bottom:60px;
    }
    @include respond-to (xl) {
        font-size: $mediumHeading-lg;
        margin-bottom:60px;
    }
}

.clearBackground {
    p {color: black;}
}

.projectContainer{
    display:flex;
    flex-direction: column;

    @include vertical (lg) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .projectImageContainer {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        @include respond-to (lg) {
            flex-basis:50%
        }
    }

    .projectContentContainer {

        flex-grow: 1;
        @include respond-to (lg) {
            padding-right:40px;
        }

    }

}

/* testimonials section */
.testimonialsSection {
    background-image: url(../../images/bgimageoverlay.webp);

}

span.smallHeadingText {
    font-size: 24px;
}

/*side by side sections*/

//50-50

 .colContainer {
    display:block;
    margin-bottom:60px;
    @include respond-to (lg) {
        display:flex;
        flex-direction:row;
        gap:20px
    }

    .column {flex-basis:100%;
    @include respond-to (lg) {
        flex-basis:calc(50% - 10px)
    }
    }
 }

 .technologyIconList {
    display:flex;
    padding:0px;
    gap:10px;
    align-items: center;
}



/* Services Section*/

.servicesSection .colContainer.reverse {
    display:flex;
    flex-direction: column-reverse;

    @include respond-to (lg) {
        display:flex;
        flex-direction:row;
}
}