@use '../abstracts' as *;

/* layout mobile styles for horizontal navigation bar fixed to the top*/

.layoutContainer {
    display:flex;
    flex-direction: column;
    @include vertical(lg) {
        flex-direction: row;
    }


    .navContainer {
        position:fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f5f5f52a;
        background-color: black;
        @include vertical(lg) {
            width:90px;
            height:100vh;
            position:fixed;
            top:0;
            left:0;
            flex-direction:column;
        }
    }

    .mainContainer {
       flex-grow: 1;
    }   

    .navbar {
        padding:10px 7%;
        flex:1;
        }
 
    }
    
.socialLinks {
        display:none;

        @include vertical(lg) {
            display:flex;
            margin-bottom: 30px;
  
        }

       
    } 

.socialLinks ul { 
    display:flex;
    flex-direction:column;
    gap:15px;
    padding:0px
}

.socialLinks img {
    width:30px;
}

.navElementsContainer {
    display:flex;
    padding:0px;
    @include vertical (lg) {
        flex-direction:column;
        height:100%;
    }
}

.verticalNavContainer {
    @include vertical(lg) {
        flex-direction: column;
    }
}    



.headshotLogo {
        width:70px;

    }
  
.mainContainer {
    .topSection {
        padding-top:90px;
    }
}


.container {
    max-width:1140px;
    margin: 0 auto;

    @include respond-to (lg) {

        max-width:90%;
    }

    @include respond-to (xl) {
        max-width:1140px;
    }


}
/* lg screen layout with vertical navigation bar fixed to left side */

