@use '../abstracts' as *;

.linkButton {
    border: 2px solid #f5853f;
    color: #f5853f;
    padding: 13px 20px;
    font-size: 20px;
    transition: all 0.7s ease-in-out;

    &:hover {
        background-color: $notWhite;
        transition: all 0.7s ease-in-out;
    }
}