@use '../abstracts' as *;

.experienceRow {
    display:flex;
    flex-direction:column;
    gap:15px;
    border-bottom: 1px solid #f5f5f53d;
    padding-top:20px;
    @include respond-to(lg) {
        flex-direction:row;
        gap:20px;
    }
}

.experienceCardsContainer {
    max-width:1140px;
    margin: 0 auto;

    @include respond-to (lg) {

        max-width:90%;
    }

    @include respond-to (xl) {
        max-width:765px;
        margin-left:0px;
    }


}

.companyDates {
    opacity: 0.6;
    font-size:16px;
    margin-bottom:0px;

}


.companyLogo{
   
    max-width:80px;
    @include respond-to (xl) {
       flex: 0 0 60px;
    }

   

}


.companyLogo  img {
    max-width:100%;


}




