.swiper {
    padding-bottom: 20px;
}
.swiper-button-next, .swiper-button-prev {
    color:#f5853f;
}

span.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background: #f5853f;
}