$notbalack: #1F1F1F;
$notwhite: #f5f5f5;
$orange: #f5853f; 

$breakpoint-xs: 320px;  // Extra small devices
$breakpoint-sm: 480px;  // Small smartphones
$breakpoint-md: 768px;  // Medium devices (tablets in portrait)
$breakpoint-lg: 992px;  // Large devices (tablets in landscape, small desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)