//colors
$notBlack: #1F1F1F;
$notWhite: #f5f5f5;
$orange: #f5853f; 
//breakpoints
$breakpoint-xs: 320px;  // Extra small devices
$breakpoint-sm: 480px;  // Small smartphones
$breakpoint-md: 768px;  // Medium devices (tablets in portrait)
$breakpoint-lg: 992px;  // Large devices (tablets in landscape, small desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)
//tipography
    //mobile
$bigHeading-sm: 45px;
$mediumHeading-sm: 36px;
$smallHeading-sm:20px;
    //medium
$bigHeading-md: 60px;
$mediumHeading-md: 45px;
$smallHeading-md: 26px;
    //large
$bigHeading-lg:70px;
$mediumHeading-lg: 55px;
$smallHeading-lg: 40px;

//Paddings

$sectionPadding-sm: 60px 7%;